{% extends "base.html" %}
{% block content %}
    <div id="entries" class="container">
        <h2>Entries</h2>
        {% for entry in entries %}
        <div><a href="{{ url_for('show_entry', entry_id=entry.id) }}">{{ entry.title }}</a></div>
        {% else %}
        <p>No entries</p>
        {% endfor %}
    </div>
    <div>
        <h2>Add new entry</h2>
        <form id="entryform" action="{{ url_for('add_entry') }}" method="POST">
        <p>Title: <input type="text" name="title"/></p>
        <p>Text: <textarea form="entryform" name="content" cols=80 rows=4></textarea></p>
        <input type="submit" value="Submit"/>
        </form>
    </div>
{% endblock %}
